
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

.coming-soon {
    
}
h1 {
    font-family: "Lexend Deca", sans-serif;
    margin: 50px;
    margin-top: 50px;
}