@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

.nav-logo img {
  display: flex;
  align-items: center;
  width: 100px;
  height: 50px;
  top: 17px;
  left: 161.28px;
  margin-left: 40px;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#EDBF57; /* Choose the color based on the image */
  padding: 10px;
}


.nav-links a {
  font-family: "Lexend Deca", sans-serif;
  margin-right: 60px;
  font-size: 20px;
  color: #AF125A; 
  text-decoration: none;
}

.nav-donate button {
  font-family: "Lexend Deca", sans-serif;
  background-color: #F5CC70; /* Button background color */
  border: 2px #779433;
  border-radius: 22.5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.nav-user button {
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
  background-color: #F5CC70;
  color: #000; /* Set the text color */
  border: 2px #AF125A;
  border-radius: 22.5px;
  padding: 10px 20px;
  text-decoration: none;
}

.nav-user img {
  display: inline-block;
  width: 43.5px;
  height: 37.5px;
  top: 29.5px;
  left: 1342px;  
}